<Section class="section-components container ">
    <h2 class="title-components">IT ALL ADDS UP TO ONE <br> EXCEPTIONAL <span class="text-taste">TASTE</span> SENSATION</h2>
    <p class="text-components">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
         From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="tumb-components">
        <li class="item-components milk-chocolate">
            <picture class="img-components">
                <source srcset="../img/unique-components-img/milk-chocolate-desktop.png 1x, 
                ../img/unique-components-img/milk-chocolate-desktop@2x.png 2x"
               media="(min-width: 1200px)"/>
                <img src="../img/unique-components-img/milk-chocolate-desktop.png" 
                srcset="../img/unique-components-img/milk-chocolate-mobile.png 1x, 
                ../img/unique-components-img/milk-chocolate-mobile@2x.png 2x"
                media="(max-width: 1199px)"
                alt="MILK CHOCOLATE"/>
            </picture>
            <p class="text-item-components">MILK CHOCOLATE</p>
        </li>
        <li class="item-components milk">
            <picture class="img-components">
                <source srcset="../img/unique-components-img/milk-desktop.png 1x, 
                ../img/unique-components-img/milk-desktop@2x.png 2x"
               media="(min-width: 1200px)"/>
                <img src="../img/unique-components-img/milk-desktop.png" 
                srcset="../img/unique-components-img/milk-mobile.png 1x, 
                ../img/unique-components-img/milk-mobile@2x.png 2x"
                media="(max-width: 1199px)"
                alt="MILK"/>
            </picture>
            <p class="text-item-components">MILK</p>
        </li>
        <li class="item-components nuts">
            <picture class="img-components">
                <source srcset="../img/unique-components-img/nuts-desktop.png 1x, 
                ../img/unique-components-img/nuts-desktop@2x.png 2x"
               media="(min-width: 1200px)"/>
                <img src="../img/unique-components-img/nuts-desktop.png" 
                srcset="../img/unique-components-img/nuts-mobile.png 1x, 
                ../img/unique-components-img/nuts-mobile@2x.png 2x"
                media="(max-width: 1199px)"
                alt="NUTS"/>
            </picture>
            <p class="text-item-components">NUTS</p>
        </li>
        <li class="item-components sweet-chocolate">
            <picture class="img-components">
                <source srcset="../img/unique-components-img/sweet-chocolate-desktop.png 1x, 
                ../img/unique-components-img/sweet-chocolate-desktop@2x.png 2x"
               media="(min-width: 1200px)"/>
                <img src="../img/unique-components-img/sweet-chocolate-desktop.png" 
                srcset="../img/unique-components-img/sweet-chocolate-mobile.png 1x, 
                ../img/unique-components-img/sweet-chocolate-mobile@2x.png 2x"
                media="(max-width: 1199px)"
                alt="SEMI-SWEET CHOCOLATE"/>
            </picture>
            <p class="text-item-components">SEMI-SWEET CHOCOLATE</p>
        </li>
    </ul>
</Section>